/*
HTML Code:
<body>
    <div class="container">
        <img style="width: 360px; height: 640px;" src="https://images.unsplash.com/photo-1599855129764-f4cc28295202?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img style="width: 360px; height: 640px;" src="https://images.unsplash.com/photo-1599855129764-f4cc28295202?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img style="width: 360px; height: 640px;" src="https://images.unsplash.com/photo-1599855129764-f4cc28295202?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img style="width: 360px; height: 640px;" src="https://images.unsplash.com/photo-1599855129764-f4cc28295202?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    </div>
</body>
*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 360px;
    height: 640px;
    margin-top: 150px;
    background: rgba(255, 255, 255, 0);
    transform: rotate(-30deg) skew(25deg) scale(.8);
}

.container img {
    position: absolute;
    width: 100%;
    transition: .5s;
}

.container:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}

.container:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}

.container:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}

.container:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .4;
}